body,
html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: white;
    font-family:monospace;
}

h1 {
    font-size: xx-large;
}

.label {
    
}

#search-by-zip {
    text-align: center;
   

}

#recent-searches {
    text-align: center;
   

}

.box {
    background-color: rgb(155, 204, 106);

}

#golf-courses {
    text-align: center;
    

}

#distributors {
    text-align: center;
    

}

.current-weather {
    text-align: center;
  
}

.golfcards {
    background-color: #D4F1C5;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
  
    color: #333;

}

.distributorsCards {
    background-color: #D4F1C5;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    
    color: #333;
}

.weatherCards {
    background-color: #D4F1C5;
    border: 2px solid #83C07C;
    border-radius: 5px;
    padding: 10px;

    color: #333;
}
